@model MobileShopOrderMangement.Models.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Create Product";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">
                        <i class="fas fa-plus-circle"></i> Create New Product
                    </h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ProductName, new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter product name (e.g., Laptop, Mouse, Keyboard)" } })
                                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ProductCategoryId, new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownList("ProductCategoryId", null, "-- Select a Category --", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProductCategoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.Unit, new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.DropDownList("Unit", (SelectList)ViewBag.Units, "-- Select a Unit --", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.UnitPrice, new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01", placeholder = "Enter unit price (e.g., 50000.00)" } })
                                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.AvailableQuantity, new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.AvailableQuantity, new { htmlAttributes = new { @class = "form-control", type = "number", placeholder = "Enter available quantity" } })
                                    @Html.ValidationMessageFor(model => model.AvailableQuantity, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.ImageFile, new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <input type="file" name="ImageFile" class="form-control-file" accept="image/*" />
                                    <small class="form-text text-muted">Upload product image (Optional)</small>
                                    @Html.ValidationMessageFor(model => model.ImageFile, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-9 offset-md-3">
                                    <div class="custom-control custom-switch">
                                        @Html.CheckBoxFor(model => model.IsActive, new { @class = "custom-control-input" })
                                        @Html.LabelFor(model => model.IsActive, new { @class = "custom-control-label" })
                                    </div>
                                    <small class="form-text text-muted">Check to make this product active</small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-9 offset-md-3">
                                    <button type="submit" class="btn btn-success btn-lg">
                                        <i class="fas fa-save"></i> Create Product
                                    </button>
                                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary btn-lg" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
